# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
__pycache__/
*/__pycache__/

# Temporary files
tmp/
*/tmp/
*_scratch.ipynb

# Secret files
api_key.txt
